body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Register{ display: flex;
  flex-direction: column;
  width: 850px ; padding: 100px; 
  
 

}
.register_children{
  margin-bottom: 50px;
 background-color: chocolate;
}
header{
   display: block; font-size: 20px;background-color: rgb(75, 73, 73); -webkit-text-fill-color: rgb(16, 95, 165); font-style: italic;
}
.birthDate{
   font-size: 15px; background-color:blueviolet; -webkit-text-fill-color: aliceblue;
}
.startDate{
  font-size: 15px; background-color: rgb(20, 20, 20); -webkit-text-fill-color: aliceblue;
}
.joyce{
   width: 100px;height: 100px;
}
.lol{
   text-align: center; font-style: italic ; font-family: Georgia, 'Times New Roman', Times, cursive;
}
.direct{
  text-align: center; font-style: italic; background-color: blueviolet;
}
.bio{
  text-align: center; font-style: italic;
}
.welcome{
  text-align: center; font-style: italic;
}
.about{
 background-repeat:inherit; text-align: center; font-style: italic; -webkit-text-fill-color: black;
}
.learn{
 background-repeat:inherit; text-align: center; font-style: italic; -webkit-text-fill-color: black;
}
.home{
   text-align: center; font-style: oblique; word-spacing:  10px ; max-width: 1000%; -webkit-text-fill-color: purple;
}

.adminDiv{
  position:absolute; top: 0; right: 0;
}
